
 body {
  background: url('../img/healthy-food3.jpg');
  background-size: cover;
  color: #fff;
}
 
 /* label color */
  .input-field label {
    color: #ffd54f ;
  }
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid yellow;
    box-shadow: 0 1px 0 0 yellow;
  }
  .input-field input[type=password].valid {
    border-bottom: 1px solid yellow;
    box-shadow: 0 1px 0 0 yellow;
  }
  .input-field input[type=email].valid {
    border-bottom: 1px solid yellow;
    box-shadow: 0 1px 0 0 yellow;
  }

  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #d50000;
    box-shadow: 0 1px 0 0#d50000;
  }
  .input-field input[type=password].invalid {
    border-bottom: 1px solid #d50000;
    box-shadow: 0 1px 0 0#d50000;
  }
  .input-field input[type=email].invalid{
    border-bottom: 1px solid #d50000;
    box-shadow: 0 1px 0 0#d50000;
  }

.login {
  margin-top: 100px;
}


.login .card {
  background: rgba(0, 0, 0, 0.95);
  
}
.login label{
  font-size: 16px;
  color: #ccc;
}
.login input{
  font-size: 22px !important;
}
.invalid {
  color: orange;
}
.modal{
  background-color: #F99500;
  max-width: 700px;
}

.modal-content{
  color: white;
}
.terminos{
  text-align: left;
  font-size: 16px;
}

.login button{
  border-radius: 5px;
}

.login button:hover{
  padding:0px 40px;
}
.checkbox-colour[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #607d8b;  
    background-color: #F99500;
}

.checker{
  background-color: transparent;
  color: orange

}

.alink{
  background-color: transparent;
  color: orange
  
}
.alink:hover {
text-decoration: underline;
  color: red
}

.btn-large{
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}