
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

.barra{
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 21%, rgba(252,242,69,1) 100%); 
}

.contenido-main{
  background-image: url(../img/orange.jpg);
  padding-bottom: 50px;
}

.tarjetita{
  border-radius: 10px;
  background-color: rgba(255, 133, 0, 0.6);
  
  
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
  @media only screen and (max-width : 900px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }



.carousel-item {
  max-width: 100%;
  height: 550px;
}

#navico {
    margin-right: 5px;
    margin-left: 7px;
    font-size: 20px;
}

.titulo{
    background: #4a148c;
    color: white;
}


.pie{
  background: rgb(253,29,29);
  background: linear-gradient(266deg, rgba(253,29,29,1) 21%, rgba(252,242,69,1) 100%); 
}

.tarjetas {
  background-image: url(http://efamilia.es/wp/wp-content/uploads/2018/05/Consejos-para-mantener-una-alimentaci%C3%B3n-saludable.jpg), url(https://media.ambito.com/adjuntos/239/imagenes/036/840/0036840062.jpg);
  background-repeat: no-repeat, repeat;
  background-size: 100%, 100%;
  background-position: right bottom, left top;
}

.tarjetas .card{
   border-radius: 5px;
   max-width: 350px;
   height: 490px;
 }

 .card-image{
   height: 300px;
 }
 .card-image img{
  height: 250px;
}


.c1{
  background: rgb(255,182,3);
  background: linear-gradient(158deg, rgba(255,182,3,1) 44%, rgba(255,242,15,1) 80%, rgba(245,255,44,1) 97%); 
}
 
