{%extends 'form_base.html' %}
{% load staticfiles %}

{% block form %}

<div class="row login validaciones animated rubberBand" id="section">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-action red darken-4 white-text">
                <h3>Recuperar Clave</h3>
            </div>
            <form class="formforgetpass" id="formforgetpass" method="POST">
                {% csrf_token %}
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="email">Email </label>
                            <input class="white-text autocomplete" type="email" id="email" name="email"
                                    aria-required="true" required="">
                        </div>
                        <div class="input-field col s12 center">
                            <button class="btn-large red darken-4  waves-effect waves-orange center submit"
                                value="submit" id="submitButton" type="submit" form="formforgetpass"
                                name="action">Recuperar</button>
                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}