{%load staticfiles%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!--CSS/CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inputstyle.css' %}">
    <!--CSS/CDN-->

    <title>Vitall</title>
</head>

<body>
    <div class="scrollspy" id="inicio">
        <div class="navbar-fixed">
            <div class="row">
                <nav class="col s12 barra">
                    <div class="nav-wrapper container">
                        <a href="index.html" class="brand-logo center">Vitall</a>
                    </div>
                </nav>
            </div>
        </div>

        <div>
            <ul class="sidenav" id="mobile-demo">
                <li>
                    <div class="user-view">

                    </div>
                </li>
                <li>
                    <a href="#"><i class="fas fa-home left" id="navico"></i> Inicio</a>
                </li>
                <li>
                    <a href="#acerca"> <i class="fas fa-info-circle" id="navico"></i> Acerca de
                        nosotros</a>
                </li>
            </ul>
        </div>
    </div>
    {% block form %} {% endblock %}


    <!--Scripts -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>


    <script>
        
    </script>

</body>

</html>