{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS/CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--CSS/CDN-->
    <title>Vitall</title>
</head>

<body>

    <div class="scrollspy" id="inicio">
        <div class="navbar-fixed">
            <nav class="barra">
                <div class="nav-wrapper  container">
                    <a href="/" class="brand-logo">Vitall</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">

                        <li>
                            <a href="#inicio"><i class="fas fa-home left" id="navico"></i>Inicio</a>
                        </li>
                        <li>
                            <a href="/juego"> <i class="fas fa-gamepad left" id="navico"></i></i>Jugar
                            </a>
                        </li>
                        <li>
                            <a href="/logout"> <i class="fas fa-door-open left" id="navico"></i>Salir </a>
                        </li>
                        <li>
                            <a class="tooltipped" data-position="bottom" data-tooltip="Acerca de nosotros"
                                href="#acerca">
                                <i class="fas fa-info-circle" id="navico"></i> </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="user-view">

            </div>
        </li>
        <li>
            <a href="/juego"> <i class="fas fa-gamepad left" id="navico"></i></i>Jugar
            </a>
        </li>
        <li>
            <a href="/logout"> <i class="fas fa-door-open left" id="navico"></i>Salir </a>
        </li>
        <li>
            <a href=""> <i class="fas fa-info-circle" id="navico"></i> Acerca de
                nosotros</a>
        </li>
    </ul>
    </div>
    </div>

    <div class="contenido-main">
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <span>
                        <h1 class="header center white-text ">Let's be healthy</h1>
                    </span>
                    <div class="row center">
                        <h4 class="header col s12">Comienza a ser saludable</h4>
                    </div>
                    <div class="row center">
                        <a href="#" class="btn-large waves-effect waves-yellow green darken-2">Comencemos</a>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div>
            <div class="row container">
                <div class="col s12 m2"></div>
                <div class="col s12 m8">
                    <div class="card-panel hoverable tarjetita">
                        <div class="card-content white-text">
                            <span class="card-title center">
                                <h3>Bienvenido {{request.user.username}}</h3>
                            </span>
                            <p class="flow-text center">Ayudamos a mejorar tu vida, tu salud, tu control de comidas y tu
                                bienestar personal.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2"></div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>

    <div class="container section">
        <div class="row">
            <div class="col s12">
                <div class="carousel carousel-slider">
                    <a href="" class="carousel-item responsive-img"> <img src="{% static 'img/healthy-food1.jpg' %}"
                            alt="">
                    </a>
                    <a href="" class="carousel-item responsive-img"> <img src="{% static 'img/healthy-food2.jpg' %}"
                            alt=""></a>
                    <a href="" class="carousel-item responsive-img"> <img src="{% static 'img/diet.jpg' %}" alt=""></a>
                </div>
            </div>

        </div>
    </div>


    <div class="tarjetas">
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col s0 m1 l1"></div>
                <div class="col s12 m6 l6">
                    <div class="card hoverable c1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="http://www.formaciondeportivaonline.com/wp-content/uploads/2017/09/deporte-salud.png">
                            <span class="card-title black-text">Consejo 1</span>
                        </div>
                        <div class="card-content">
                            <p class="activator  flow-text">Para mejorar tu condición física.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title flow-text grey-text text-darken-4">Consejo 1<i
                                    class="material-icons right">close</i></span>
                            <p class="flow-text"> Te recomendamos realizar actividad física de 3 a 5 veces por semana
                                durante 40 minutos,
                                esto para mantener tu cuerpo activo, debes recordar tener 1 día de descanso cada 2 días
                                de ejercicio.</p>
                        </div>
                    </div>
                </div>
                <div class="col s0 m5 l5"></div>
            </div>
            <div class="row">
                <div class="col s0 m5 l5"></div>
                <div class="col s12 m6 l6">
                    <div class="card  right hoverable c1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="https://tallypress.com/wp-content/uploads/2018/07/bigstock-148895999-660x330-1496953154.png">
                            <span class="card-title black-text">Consejo 2</span>
                        </div>
                        <div class="card-content">
                            <p class="activator flow-text">Para mejorar tu alimentación diaria.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title flow-text grey-text text-darken-4">Consejo 2<i
                                    class="material-icons right">close</i></span>
                            <p class="flow-text">Debes consumir 3 comidas al día, estas son: desayuno, almuerzo y cena.
                                A esto debes
                                sumarle 2 colaciones entre comidas, de esta forma te mantendrás saciado y podrás digerir
                                mejor los alimentos.</p>
                        </div>
                    </div>
                </div>
                <div class="col s0 m1 l1"></div>
            </div>

            <div class="row">
                <div class="col s0 m1 l1"></div>
                <div class="col s12 m6 l6">
                    <div class="card left hoverable c1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="http://3.bp.blogspot.com/-KJ5rRxTPTrw/VS1EwkgfagI/AAAAAAAACRs/zIIyzPF-fgQ/s1600/asanas-yoga.png">
                            <span class="card-title black-text">Consejo 3</span>
                        </div>
                        <div class="card-content">
                            <p class="activator flow-text">Para mantener un buen estado físico y mental</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title flow-text grey-text text-darken-4">Consejo 3<i
                                    class="material-icons right">close</i></span>
                            <p class="flow-text">Puedes agregar rutinas de yoga, meditación o ejercicios de relajación
                                para mantener
                                estimulada tu salud mental, además de tu estado físico.</p>
                        </div>
                    </div>
                </div>
                <div class="col s0 m5 l5"></div>
            </div>

            <div class="row">
                <div class="col s0 m5 l5"></div>
                <div class="col s12 m6 l6">
                    <div class="card right hoverable c1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://preview.up-spain.com/hubfs/Sin%20t%C3%ADtulo-2.png">
                            <span class="card-title black-text">Consejo 4</span>
                        </div>
                        <div class="card-content">
                            <p class="flow-text activator">Para evitar problemas estomacáles.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title flow-text grey-text text-darken-4">Consejo 4<i
                                    class="material-icons right">close</i></span>
                            <p class="flow-text">Consume de 5-10 porciones de frutas y verduras diariamente,
                                con eesto previenes enfermedades cardiovasculares, transtornos
                                digestivos, algún tipo de cáncer y enfermedades neurodegenerativas.</p>
                        </div>
                    </div>
                </div>
                <div class="col s0 m1 l1"></div>
            </div>



        </div>
    </div>


    <div class="scrollspy" id="acerca">
        <footer class="page-footer pie">
            <div class="footer-copyright">
                <div class="container center">
                    © 2019 Vitall

                </div>
            </div>
        </footer>
    </div>





    <!--Scripts -->

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/scrollreveal"></script>


    <script>
        ScrollReveal({ distance: '60px' });
        ScrollReveal().reveal('.c1', { origin: 'left', reset: true, delay: 400 });
        ScrollReveal({ distance: '60px' });
        ScrollReveal().reveal('.c2', { origin: 'right', reset: true, delay: 400 });
    </script>

</body>

</html>