{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS/CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>


<body onload="inicializa();">
    <div id="inicio">
        <div class="navbar-fixed">
            <div class="row">
                <nav class="col s12 barra">
                    <div class="nav-wrapper container">
                        <a href="" class="brand-logo center">Vitall</a>
                    </div>
                </nav>
            </div>
        </div>

        <div>
            <ul class="sidenav" id="mobile-demo">
                <li>
                    <div class="user-view">

                    </div>
                </li>
                <li>
                    <a href="#"><i class="fas fa-home left" id="navico"></i> Inicio</a>
                </li>
                <li>
                    <a href="#acerca"> <i class="fas fa-info-circle" id="navico"></i> Acerca de
                        nosotros</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container section center">
        <canvas id="canvas" width="700" height="300"
            style="border:2px  solid #000000; background-color:#93FAFF "></canvas>
    </div>


    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/juego.js' %}"></script>


</body>

</html>