{% extends 'form_base.html'%}
{% load staticfiles %}

{% block form  %}

    <div class="row login validaciones animated rubberBand" id="section">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-action amber darken-4 white-text">
                    <h3>Iniciar sesión</h3>
                </div>
                <form class="formValiLog" id="formValiLog" method="POST">
                    
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="username">Usuario</label>
                                <input class="white-text" id="username" name="username" type="text" aria-required="true"
                                    required="">
                            </div>

                            <div class="input-field col s12">
                                <label for="pass">Contraseña</label>
                                <input class="white-text" type="password" id="password" name="password" aria-required="true"
                                    required="">
                            </div>
                        </div>

                        <div class="center">
                            <label>
                                <input type="checkbox" class="filled-in checkbox-colour" id="remember"
                                    name="remember"/>
                                <span class="checker">Recordarme</span>
                            </label>
                        </div>

                        <div class="input-field center">
                            <button class="btn-large amber darken-4  waves-effect waves-red center submit"
                                value="submit" id="submitButton" type="submit" form="formValiLog"
                               >Entrar</button>
                        </div>
                        <div class="row">
                            <div class="col s1"></div>
                            <div class="input-field col s5 center">

                                <a class="alink" href="/registro">Registrarse</a>
                            </div>
                            <div class=" input-field col s5 center">
                                <a class="alink" href="/forgetpass">Olvidó su clave</a>
                            </div>
                            <div class="col s1"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}





