{% extends 'form_base.html'%}
{% load staticfiles %}

{% block form  %}
<div class="row login animated rubberBand ">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-action amber darken-4  white-text">
                <h3>Registro</h3>
            </div>
            <form class="formValiReg" id="formValiReg" method="POST" onsubmit="return checkForm(this);">

                {% csrf_token %}
                <div class="card-content">
                    {{ form.as_p }}
                    <!--   <div class="row">
                        <div class="input-field col s6">
                            <label for="name">Nombre</label>
                            <input class="autocomplete white-text" id="name" name="name" type="text"
                                aria-required="true" required="">
                        </div>

                        <div class="input-field col s6">
                            <label for="username">Usuario</label>
                            <input class="white-text autocomplete" id="username" name="username" type="text"
                                aria-required="true" required="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="email">Correo electronico</label>
                            <input class="white-text autocomplete" type="email" id="email" name="email"
                                aria-required="true" required="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <label for="password">Contraseña</label>
                            <input class="white-text autocomplete" type="password" id="password" name="password"
                                aria-required="true" required="">
                        </div>
                        <div class="input-field col s6">
                            <label for="password2">Repetir Contraseña</label>
                            <input class="white-text autocomplete" type="password" id="password2" name="password2"
                                aria-required="true" required="">
                        </div>-->
                </div>
                <div>
                    <div class="check center">
                        <label>
                            <input type="checkbox" class="filled-in checkbox-colour" id="acept" name="acept" />
                            <span class="checker">Acepto <a href="#modal1" class="alink modal-trigger">Terminos y
                                    condiciones</a></span>
                        </label>
                    </div>
                    <div class="input-field center">
                        <button class="btn-large amber darken-4 center waves-effect waves-red
                                submit" value="submit" id="submitButton" type="submit"
                            form="formValiReg">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Términos y condiciones </h4>
        <div class="terminos">
            <ol>
                <li>
                    <p>
                        Introducción
                        Las presentes condiciones generales de uso de la página web regulan
                        los
                        términos
                        y condiciones de acceso y uso de <a href="index.html">Vitall.cl</a>
                        ,
                        propiedad de
                        Emmanuel Andrés Estay Estay, que el usuario del Portal deberá de
                        leer y
                        aceptar
                        para usar todos los servicios e información que se facilitan desde
                        la
                        página. El
                        mero acceso y/o utilización del portal, de todos o parte de sus
                        contenidos
                        y/o
                        servicios significa la plena aceptación de las presentes condiciones
                        generales
                        de uso.
                    </p>
                </li>
                <li>
                    <p>
                        Condiciones de uso

                        Las presentes condiciones generales de uso del portal regulan el
                        acceso
                        y la
                        utilización del mismo, incluyendo los contenidos y los servicios
                        puestos
                        a
                        disposición de los usuarios, bien por el portal, bien por sus
                        usuarios,
                        bien
                        por
                        terceros. No obstante, el acceso y la utilización de ciertos
                        contenidos
                        y/o
                        servicios puede encontrarse sometido a determinadas condiciones
                        específicas.

                    </p>

                </li>
                <li>
                    <p>
                        Modificaciones

                        La empresa se reserva la facultad de modificar en cualquier momento
                        las
                        condiciones generales de uso del portal. En todo caso, se recomienda
                        que
                        consulte periódicamente los presentes términos de uso del portal, ya
                        que
                        pueden
                        ser modificados.
                    </p>

                </li>
                <li>
                    <p>
                        Obligaciones del Usuario

                        El usuario deberá respetar en todo momento los términos y
                        condiciones
                        establecidos en las presentes condiciones generales de uso del
                        portal.
                        De
                        forma
                        expresa el usuario manifiesta que utilizará el portal de forma
                        diligente
                        y
                        asumiendo cualquier responsabilidad que pudiera derivarse del
                        incumplimiento
                        de
                        las normas.

                    </p>

                </li>
                <li>
                    <p>
                        Responsabilidad del portal

                        El usuario conoce y acepta que el portal no otorga ninguna garantía
                        de
                        cualquier
                        naturaleza, ya sea expresa o implícita, sobre los datos, contenidos,
                        información
                        y servicios que se incorporan y ofrecen desde el Portal.
                        Exceptuando los casos que la Ley imponga expresamente lo contrario,
                        y
                        exclusivamente con la medida y extensión en que lo imponga, el
                        Portal no
                        garantiza ni asume responsabilidad alguna respecto a los posibles
                        daños
                        y
                        perjuicios causados por el uso y utilización de la información,
                        datos y
                        servicios del Portal.
                        En todo caso, el Portal excluye cualquier responsabilidad por los
                        daños
                        y
                        perjuicios que puedan deberse a la información y/o servicios
                        prestados o
                        suministrados por terceros diferentes de la Empresa. Toda
                        responsabilidad
                        será
                        del tercero ya sea proveedor o colaborador.

                    </p>

                </li>
                <li>
                    <p>
                        Propiedad intelectual e industrial

                        El portal se reserva todos los derechos sobre los contenidos,
                        información
                        datos
                        y servicios que ostente sobre los mismos. El portal no concede
                        ninguna
                        licencia
                        o autorización de uso al usuario sobre sus contenidos, datos o
                        servicios,
                        distinta de la que expresamente se detalle en las presentes
                        condiciones
                        generales de uso del portal.

                    </p>

                </li>
                <li>
                    <p>
                        Legislación aplicable, jurisdicción competente y notificaciones

                        Las presentes condiciones se rigen y se interpretan de acuerdo con
                        las
                        Leyes
                        de
                        España. Para cualquier reclamación serán competentes los juzgados y
                        tribunales
                        de (indicar la ciudad). Todas las notificaciones, requerimientos,
                        peticiones
                        y
                        otras comunicaciones que el Usuario desee efectuar a la Empresa
                        titular
                        del
                        Portal deberán realizarse por escrito y se entenderá que han sido
                        correctamente
                        realizadas cuando hayan sido recibidas en la siguiente dirección
                        emm.estay@alumnos.duoc.cl
                    </p>
                </li>
            </ol>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat orange">De acuerdo</a>

    </div>
</div>

{% endblock %}